.topbar{
    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    gap:30px;

    padding:28px 35px;

    margin-bottom:35px;

    background:#111827;

    border:1px solid rgba(255,255,255,.08);

    border-radius:22px;

    box-sizing:border-box;

    box-shadow:
    0 15px 40px rgba(0,0,0,.35);
}

/* LEFT */

.topbar-left{

    flex:2;

    min-width:450px;

}

.topbar-left h1{

font-size:28px;

font-weight:700;

line-height:1.2;

margin-bottom:8px;

}

.topbar-left p{

    margin-top:12px;

    color:#9ca3af;

    font-size:16px;

    line-height:1.6;

}

/* RIGHT */

.topbar-right{

    display:flex;

    align-items:center;

    gap:18px;

}

/* TIME CARD */

.time-card{

    width:220px;

    padding:16px 20px;

    text-align:center;

    background:#1f2937;

    border-radius:18px;

    border:1px solid rgba(255,255,255,.08);

    transition:.3s;

}

.time-card:hover{

    transform:translateY(-3px);

    border-color:#8b5cf6;

    box-shadow:0 10px 30px rgba(139,92,246,.25);

}

.time-card span{

    display:block;

    color:#9ca3af;

    font-size:12px;

    text-transform:uppercase;

    letter-spacing:1px;

}

.time-card h2{

font-size:24px;

}

.time-card small{

font-size:12px;

}

/* PROFILE */

.admin-profile{

padding:12px 18px;

min-width:180px;

}

.admin-profile:hover{

    transform:translateY(-3px);

    border-color:#8b5cf6;

}

.admin-profile img{

    width:55px;

    height:55px;

    border-radius:50%;

    object-fit:cover;

    border:2px solid #8b5cf6;

}

.admin-profile h4{

    margin:0;

    color:white;

    font-size:16px;

    font-weight:700;

}

.admin-profile span{

    color:#9ca3af;

    font-size:13px;

}

/* Responsive */

@media(max-width:1200px){

.topbar{

flex-direction:column;

align-items:flex-start;

}

.topbar-right{

display:flex;

align-items:center;

justify-content:flex-end;

gap:16px;

flex:1;

}

}

@media(max-width:768px){

.topbar-right{

flex-direction:column;

align-items:stretch;

}

.time-card{

width: 180px;
}

.admin-profile{

padding:10px 12px;

}

}