/* ==========================================
   TOPBAR
========================================== */

.topbar {
  width: 100%;
  max-width: 620px;
  height: 80px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  margin-bottom: 25px;
  backdrop-filter: blur(20px);
}

.menu-icon {
  font-size: 28px;
  cursor: pointer;
}

.center-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.center-logo img {
  width: 200px;
}

.top-icons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.top-profile {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}